* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fc7303;
}

#logo-image {
    width: 125px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    
}

nav ul li a {
    color: #fff;
    font-family: sans-serif;
}

#shopping-cart {
    width: 30px;
    height: 30px;
    color: #fff;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.banner {
    position: relative;
    min-height: 60vh;
    background: url(../img/shoes.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.banner .text-box {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    color:#fff;
    background: #4a4a4a;
    margin-top: 400px;
    padding: 20px 20px;
    border-radius: 5px;
}

.banner .text-box h2 {
    margin-top: 10px;
}

.btn {
    display: inline-block;
    background: #fc7303;
    color: #fff;
    margin-top: 10px;
    padding: 8px 30px;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover {
    background: #fc4a03;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}