* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fc7303;
}

#logo-image {
    width: 125px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    
}

nav ul li a {
    color: #fff;
    font-family: sans-serif;
}

#shopping-cart {
    width: 30px;
    height: 30px;
    color: #fff;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.banner {
    position: relative;
    min-height: 60vh;
    background: url(../img/shoes.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.banner .text-box {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    color:#fff;
    background: #4a4a4a;
    margin-top: 400px;
    padding: 20px 20px;
    border-radius: 5px;
}

.banner .text-box h2 {
    margin-top: 10px;
}

.btn {
    display: inline-block;
    background: #fc7303;
    color: #fff;
    margin-top: 10px;
    padding: 8px 30px;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover {
    background: #fc4a03;
}

.small-container {
    max-width: 1080px;
    margin: 50px auto;
    padding-left: 25px;
    padding-right: 25px;
}

.small-container .title {
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 60px;
}

.title::after {
    content: "";
    background: #fc7303;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.sport-shoes-row {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

#product-1 {
    margin-top: 20px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
}

#product-1:hover {
    transform: translateY(-5px);
}

#menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*---- Media query for Menu Icon 800px ----*/

@media only screen and (max-width: 800px) {
    nav {
        z-index: 999;
    }
    nav ul {
        position: absolute;
        top: 107px;
        right: 0;
        background: #333;
        width: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    #menu-icon {
        display: block;
        cursor: pointer;
    }
}

/*--- Media query for less than 600px ---*/

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }
    .banner .text-box {
        flex-basis: 100%;
    }
}